.container {
  display: grid;
  grid-template-areas:
      "sidenav sidepanel workarea"
      "sidenav sidepanel terminal"
      "footer footer footer";
  grid-template-columns: 60px 400px 1fr;
  grid-template-rows: 1fr 240px 30px;
  grid-gap: 1px;
  flex: 1;
}

.sidenav {
  grid-area: sidenav;
  position: relative;
  background-color: #111;
}

.sidepanel {
  grid-area: sidepanel;
  position: relative;
  background-color: rgb(38, 38, 38);
}

.workarea {
  grid-area: workarea;
  position: relative;
}

.terminal {
  grid-area: terminal;
  position: relative;
  z-index: 9;
  border-top: 1px solid rgb(133, 133, 133);
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  position: relative;
  background-color: rgb(20, 121, 238);
}