.container {
  display: grid;
  grid-template-areas:
      "sidenav sidepanel workarea"
      "sidenav sidepanel workarea"
      "sidenav sidepanel terminal";
  grid-template-columns: 80px 400px 1fr;
  grid-template-rows: 1fr 1fr 200px;
  grid-gap: 1px;
  flex: 1;
}

/* Style the side navigation */
.sidenav {
  grid-area: sidenav;
  background-color: #111;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.sidepanel {
  grid-area: sidepanel;
  background-color: rgb(38, 38, 38);
}

/* Style the content */
.workarea {
  grid-area: workarea;
}

.terminal {
  grid-area: terminal;
  z-index: 9;
  background-color: rgb(5, 5, 5);
}