.sidepanel-title {
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color:#fff;
}

.sidepanel-folder tr td label {
	display: block;
	position: relative;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #333;
	font-weight: bold;
	color: #fff;
}

.hammer-container {
	margin-left: 20px;
    text-decoration: none;
    color:#fff;
}

.hammer-container table {
	border-collapse: collapse; 
}

.modelZoo-container {
	margin-left: 20px;
    text-decoration: none;
    color:#fff;
}
  
.modelZoo-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0px;
}
	
.modelZoo-container ul li {
	color:#fff;
	text-decoration: none;
	font-size: 16px;
	display: block;
	position: relative;
	margin-top: 10px;
}

.modelZoo-container .version {
	position: absolute;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;
}

.modelZoo-container .description {
	display: block;
	font-size: 12px;
}

.hide td {
	width: 100px;
}
