.sidenav-item {
  display: block;
  height: 66px;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  border-left: 2px solid #333;
}

/* Side navigation links */
.sidenav a {
  text-align: center;
  color: white;
}
  
/* Change color on hover */
.sidenav a:hover {
  background-color: #777;
}

/* Change color on active */
.sidenav a.active {
  border-left: 2px solid #fff;
}

.siadenav-bottom {
  position: absolute;
  width: 60px;
  bottom: 0px;
}