.viewer {
  display: grid;
  position: relative;
  grid-template-areas:
    "viewer-bar"
    "viewer-main"
    "viewerpanel";
  grid-template-rows: 30px 1fr 240px;
  grid-gap: 1px;
  flex: auto;
}


.viewer-bar {
  grid-area: viewer-bar;
  position: relative;
  background-color: #333;
}


.viewer-bar label {
  text-align: left;
  margin-left: 12px;
  text-decoration: none;
  font-size: 12px;
  max-width: 100px;
}

.viewer-bar select {
  position: absolute;
  color: #ffffff;
  background-color: #333;
  margin-top: 5px;
  right: 30px;
}

.viewer-main {
  grid-area: viewer-main;
  position: relative;
}

.viewerpanel {
  grid-area: viewerpanel;
  position: relative;
  min-height: 240px;
  bottom: 0px;
  background-color: rgb(32, 32, 32);
  border-top: 1px solid rgb(133, 133, 133);
}

.img-container {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.img-container:focus {
	outline: none !important;
}

.img-container img {
  min-height: 688px;
  position: relative;
  max-width: none;
	max-height: none;
  margin: auto;
}

.img-container img.pixelated {
	image-rendering: pixelated;
}

.img-container img.scale-to-fit {
	max-width: calc(100% - 20px);
	max-height: calc(100% - 20px);
	object-fit: contain;
}

.img-container img {
	margin: auto;
}

.img-container.ready.zoom-in {
	cursor: zoom-in;
}

.img-container.ready.zoom-out {
	cursor: zoom-out;
}