.viewer {
  display: grid;
  position: relative;
  grid-template-areas:
    "viewer-tab"
    "viewer-main"
    "viewer-panel";
  grid-template-rows: 30px 1fr 240px;
  grid-gap: 1px;
  flex: auto;
}


.viewer-tab {
  grid-area: viewer-tab;
  position: relative;
  background-color: #333;
  height: 100%;
}


.viewer-tab select {
  position: absolute;
  color: #ffffff;
  background-color: #333;
  margin-top: 5px;
  right: 30px;
}


.viewer-tab a {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100%;
  color: #ffffff;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 130px;
  overflow: hidden;
}


.viewer-tab a:hover {
  background-color: #777;
}


.viewer-tab a.active {
  background-color: rgb(32, 32, 32);
}

.viewer-tab .close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 6px 16px;
  transform: translate(0%, -50%);
  z-index: 9;
}

.viewer-tab .close:hover {
  background: #bbb;
}
  

.viewer-main {
  grid-area: viewer-main;
  position: relative;
}

.viewer-main-bar {
  grid-area: viewer-main-bar;
  position: fixed;
  width: 100%;
  height: 24px;
  background-color: rgb(32, 32, 32);
  text-align: left;
  padding-left: 12px;
  text-decoration: none;
  font-size: 12px;
  z-index: 9;
}


.viewer-main-img {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.viewer-main-img:focus {
	outline: none !important;
}

.viewer-main-img img {
  position: relative;
  min-height: calc(100% - 30px);
  top: 10px;
  max-width: none;
	max-height: none;
  margin: auto;
}

.viewer-main-img img.pixelated {
	image-rendering: pixelated;
}

.viewer-main-img img.scale-to-fit {
	max-width: calc(100% - 20px);
	max-height: calc(100% - 20px);
	object-fit: contain;
}

.viewer-main-img img {
	margin: auto;
}

.viewer-main-img.ready.zoom-in {
	cursor: zoom-in;
}

.viewer-main-img.ready.zoom-out {
	cursor: zoom-out;
}